<div class="article-item" [ngClass]="{'in-stock': product.isOnSale, 'out-of-stock': !product.isOnSale}">
    <img [src]="product.imageUrl" alt="Imagen {{product.name}}">
    
    <div class="article-item-name">
        <p>{{product.name}}</p>
    </div>
    
    <div class="article-item-price">
        <p>{{product.price}} €</p>
    </div>

    <div class="article-item-quantity">
        <button (click)="decreaseQuantity()" [disabled]="product.quantityInCart <= 0">-</button>
        <p>{{product.quantityInCart}}</p> <!-- Mostrar la cantidad del producto en el carrito -->
        <button (click)="increaseQuantity()">+</button>
    </div>
</div>