<div class="products-container">
    <!-- Añadimos *ngFor para recorrer el array de productos y mostrarlos todos -->
    <div *ngFor="let product of products" class="article-item"
        [ngClass]="{'in-stock': product.isOnSale, 'out-of-stock': !product.isOnSale}">
        <img [src]="product.imageUrl" alt="Imagen {{product.name}}">

        <div class="article-item-name">
            <p>{{product.name}}</p>
        </div>

        <div class="article-item-price">
            <p>{{product.price}} €</p>
        </div>

        <!-- Botones -->
        <div class="article-item-quantity" *ngIf="product.isOnSale">
            <!-- Añadimos el *ngIf="product.isOnSale" para mostrar los botones de cantidad sólo si está en venta -->
            <button (click)="decreaseQuantity(product)" [disabled]="product.quantityInCart <= 0">-</button>
            <p>{{product.quantityInCart}}</p>
            <button (click)="increaseQuantity(product)">+</button>
        </div>
    </div>
</div>